* {
  box-sizing: border-box;
}

.container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.menu-toggle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #008fb3;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  display: table;
  text-align: center;
}
@media only screen and (max-width:500px) {
.menu-toggle {
  border-radius: 10%;
}
} 
.menu-toggle .fa {
  color: #fff;
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  transition: 0.4s;
}
.menu-toggle.open .fa {
  transform: rotate(135deg);
}

a {text-decoration: none;}

.btn-app {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  background-color: #4644fd;
  color: #fff;
  text-align: center;
  transition: 0.2s;
}
.btn-app:hover {
  background-color: #008fb3;
}
.btn-app .fa {
  line-height: 2.5em;
}

.open .btn-app {
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu-round {
  position: absolute;
  bottom: 10px;
  right: 5px;
  z-index: 3;
}
.menu-round .btn-app {
  bottom: 0.25em;
  right: 0.25em;
  transition: 0.4s;
}
.menu-round.open .btn-app:nth-of-type(1) {
  right: 0.5em;
  bottom: 4.25em;
  transition-delay: 0.2s;
}
.menu-round.open .btn-app:nth-of-type(2) {
  right: 3.6em;
  bottom: 3.2em;
  transition-delay: 0.1s;
}
.menu-round.open .btn-app:nth-of-type(3) {
  right: 4.5em;
  bottom: 0.0em;
}

.menu-line {
  position: absolute;
  z-index: 2;
}
.menu-line .btn-app {
  bottom: 0;
  right: 0.8em;
  transition: 0.3s;
  transition-delay: 0.5s;
}
.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 5em;
}
.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 8em;
}
.menu-line.open .btn-app:nth-of-type(2) {
  bottom: 11.2em;
}
.menu-line.open .btn-app:nth-of-type(3) {
  bottom: 14.4em;
}
.menu-line.open .btn-app:nth-of-type(4) {
  bottom: 17.6em;
}
.menu-line.open .btn-app:nth-of-type(5) {
  bottom: 20.8em;
}

